body {
    background-color : black;
}

#title {
    display : flex;
    margin: 0 20% 0;
    border-bottom: 1px solid yellow;
}

#title a {
    color : yellow;
    text-decoration: none;
}

#selection {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20% 0;
}

.pokemon {
    display: flex;
    flex: 1 1 40%;
    justify-content: center;
}

.pokemon a {
    display: flex;
    flex: 1;
    margin: 5%;
    padding: 5%;
    border: 1px solid yellow;
    border-radius: 1rem;
    text-decoration: none;
}

.pokemon img {
    align-self: center;
    margin-right: 5%;
}

.pokemon.explain {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.pokemon h2 {
    color : white;
    margin: 0 0 2%;
}

.pokemon div {
    color : white;
}
